body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAD2;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2E8B57;
  color: white;
  padding: 10px 0;
  text-align: center;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #2E8B57;
}

.color-sample {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

section {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #2E8B57;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
